
<div class="feed-messages-container">
<div class="feed-message" *ngFor="let message of feed?.data?.items">
  <div class="text-block text-message">
    <div class="message-header">
      <span class="author">Verified for {{ message.application_id }} </span>
    </div>
    <div class="ago-time">
       {{message.created_date | amTimeAgo:true}} ago
    </div>
  </div>
</div>
</div>

<!--div class="feed-messages-container">
  <div class="feed-message" *ngFor="let message of feed">
    <div class="message-icon">
      <img class="photo-icon">
      <span class="sub-photo-icon"></span>
    </div>
    <div class="text-block text-message">
      <div class="message-header">
        <span class="author">{{ message.name }} {{ message.email}}</span>
      </div>
      <div class="ago-time">
        {{ message.id }}
      </div>
    </div>
  </div>
</div -->
